.header {
    height: 80px;
    width: 100%;
    position: fixed;
    background: transparent;
    z-index: 300;
    &_inner {
        padding: 20px;
        display: flex;
        align-items: center;
    }

    &_nav {
        display: flex;
        align-items: center;

        &__logo {
            filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(107%) contrast(101%);
        }

        &__list {
            display: flex;
            padding-left: 120px;
            color: #fff;
            font-size: 1rem;
        }
        &__item:not(:first-child) {
            padding-left: 30px;
        }
    }

    .contact_btn {
        margin-left: auto;
        color: #fff;
        background-color: #978F10;
        padding: 16px 37px;

        &::before {
            content: url(../img/calender.png);
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }
    }
}